TELEGRAM_BOT_TOKEN=8121471637:AAGL7MNhA24YYJk7_OA6-Zgw9IEfptxXRE0
RSS_FEEDS=["https://cprss.s3.amazonaws.com/golangweekly.com.xml", "https://cprss.s3.amazonaws.com/nodeweekly.com.xml", "https://cprss.s3.amazonaws.com/javascriptweekly.com.xml", "https://feedpress.me/cssweekly", "https://cprss.s3.amazonaws.com/frontendfoc.us.xml", "https://us5.campaign-archive.com/feed?u=ea228d7061e8bbfa8639666ad&id=104d6bcc2d", "https://www.sitepoint.com/sitepoint.rss"]
RECIPIENTS=[306650763]